<footer class="site-footer">

  <div class="wrapper">


      <div class="section group">
          <div class="col span_1_of_3">
              <a class="footer-image" href="{{ site.baseurl }}/"><img id="logo" src="{{ site.baseurl }}/img/logoTemp.png" alt="logo" /></a>
          </div>
          <div class="col span_1_of_3">
              <a href="{{ site.baseurl }}/contact" class="footer-contact" >Contact</a>
          </div>
          <div class="col span_1_of_3">
              <a href="{{ site.baseurl }}/blog" class="footer-blog">Blog</a>
          </div>
      </div>

  </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
